<!DOCTYPE html>
<html>
  <head>
    <title>部屋の名前</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <section class="header">
      <div class="navbar">
      </div>
    </section>
    <section class="main">
      <div class="container">
        <ul id="messages"></ul>
        <ul>
          <% for(var i in content) { %>
            <% var obj = content[i]; %>
            <li><%= obj.cleaned %></li>
          <% } %>
        </ul>
        <!-- <ul id="messages"></ul>
        <form id="message_form" action="#">
          <input id="input_msg" autocomplete="off"><button>SEND</button>
        </form> -->
      </div>
    </section>

    <script>
      var socketio = io();
      $(function(){
        socketio.on('message',function(msg) {
          $('#messages').append($('<li>').text(msg));
        });
      });
    </script>
  </body>
</html>
