body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #c6e377;
  height: 110vh;
  text-align: center;
}

section{
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  padding-left: 10vw;
  padding-right: 10vw;
}

.control{
  text-align: center;
}

.navbar{
  background-color: #c6e377;
}


.nav_left{
  display: block;
  float: left;
  width: 50vw;
  font-size: 2rem;
}

.nav_right{
  display: block;
  float: right;
}


.home{
  margin-right: 30px;
  margin-left: 40px;
}

h1{
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #36622b;
}

h2{
  font-size: 2rem;
}

.footer{
  height: 10vh;
  background-color: #c6e377;
}




/*index.ejs*/
img{
  height: 35vh;
}

.body_index{
  background-color: #729d39;
}

.navbar_index{
  background-color: #729d39;
}

.logo{
  margin-top: 10vh;
  margin-bottom: 2rem;
}

.index_btn{
  background-color: #fbfad3;
}

.p_nav_top{
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.p_nav_top{
  margin-top: 2rem;
  margin-bottom: 4rem;
}



.modal_btn{
  margin-top: 3rem;
  margin-right: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
/*ここまで*/


/*input.ejs*/
.input-area, .output-area{
  padding-top: 10vh;

}

.input_btn{
  margin-top: 5rem;
}

.button.clean{
  background-color: #fbfad3;
  color: #36622b;
}

.button.submit{
  background-color: #36622b;
  color: #fbfad3;
}



/* ADD by Michiro */
#test textarea{
  pointer-events: none; /*textarea入力不可にする*/
}
/*ここまで*/

/*show.ejs*/

/*ここまで*/
